* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.titulo-bg {
  background: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo-bg p {
  font-weight: 400;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .titulo-bg p {
    font-size: 1rem;
    text-transform: lowercase;
  }
}

.borda {
  border: 1px solid red;
}
