.cabecalho-bg {
  background: var(--cor-12);
}

.cabecalho {
  background: var(--cor-12);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  /* gap para definir a menor distancia entre os itens para realizar a quebra de linha */
  gap: 20px;
  align-items: center;
}

.cabecalho-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.cabecalho-menu a {
  /* display inline-block utilizado para nao sobrepor os paddings dos links do menu quando eles se sobrepuserem (tag 'a' possui display inline por padrão) */
  display: inline-block;
  /* padding aplicado para aumentar a área de contato do link (ajuda na acessibilidade no mobile) */
  padding: 16px 0;
  position: relative;
}

.cabecalho-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  /* é preciso tirar esse elemento do fluxo para ele não interferir no align dos itens da nav */
  position: absolute;
}

.cabecalho-menu a:hover::after,
.cabecalho-menu .ativo::after {
  width: 100%;
}

@media (max-width: 800px) {
  .cabecalho-menu {
    gap: 20px;
  }

  .cabecalho-menu a {
    background-color: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .cabecalho-menu a:hover {
    background-color: var(--cor-10);
  }

  .cabecalho-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .cabecalho-menu {
    gap: 12px;
  }

  .cabecalho-menu a {
    padding: 8px 12px;
  }
}
