.parceiros {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.parceiros h2 {
  margin-bottom: 60px;
  padding-left: 120px;
}

.parceiros-lista {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiro {
  border-left: 2px solid var(--cor-2);
}

.parceiros-lista li {
  padding: 32px;
  display: flex;
}

.parceiros-lista img {
  margin: auto;
}

.parceiro:first-child,
.parceiro:nth-child(5) {
  border-left: none;
}

.parceiro:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 60px;
  }

  .parceiros h2 {
    margin-bottom: 20px;
    padding-left: 0px;
  }

  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .parceiro {
    padding: 32px 54px;
  }

  .parceiro:nth-child(n + 3) {
    border-top: 2px solid var(--cor-2);
  }

  .parceiro:nth-child(odd) {
    border-left: none;
  }
}
