.faq-bg {
  padding-top: 120px;
  padding-bottom: 120px;
}

.faq h2 {
  margin-bottom: 60px;
}

.pergunta-cabecalho {
  cursor: pointer;
}

.pergunta-cabecalho button {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background: none;
}

.pergunta-cabecalho button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  position: absolute;
  left: -20px;
}

.pergunta-cabecalho img {
  transition: 0.3s;
}

.pergunta-cabecalho:hover img,
.pergunta-cabecalho button[aria-expanded="true"] img {
  transform: rotate(180deg);
}

.pergunta {
  padding: 24px 20px 24px 40px;
}

.js .pergunta p {
  display: none;
}

.js .pergunta .expanded {
  display: block;
}

.pergunta p {
  max-width: 75ch;
}

.pergunta-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.faq .pergunta:nth-child(odd) {
  background: var(--cor-1);
}
